<div class="row panel panel-default">
  <div class="col-xs-12 panel-heading">
    <h1 class="media-heading">Name</h1>
    <img src="" alt="" class="img-responsive">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-primary">Edit
      </button>
      <button type="button" class="btn btn-danger">Delete
      </button>
    </div>
  </div>
  <div class="panel-body">
    <div class="col-xs-12">
      Email:
    </div>
    <div class="col-xs-12">
      Phone:
    </div>
  </div>
</div>
