<div class="row panel panel-default">
  <div class="col-xs-12 panel-heading clearfix">
    <h1 class="media-heading">{{ contact?.name }}</h1>
    <img [src]="contact?.imageUrl" alt="{{ contact?.name }}" class="img-responsive">
    <div class="btn-toolbar pull-right">
      <a [routerLink]="['edit']" class="btn btn-primary">Edit</a>
      <a class="btn btn-danger" (click)="onDelete()">Delete</a>
    </div>
  </div>
  <div class="panel-body">
    <div class="col-xs-12">
      Email: {{ contact?.email }}
    </div>
    <div class="col-xs-12">
      Phone: {{ contact?.phone }}
    </div>
  </div>
</div>
